In [3]:
import pandas as pd

pd.set_option('display.max_columns', None) 
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [4]:
from sklearn.datasets import fetch_openml 

X,y = fetch_openml(name='credit-g', as_frame=True, return_X_y=True)
df = X
df['target'] = y
df.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,target
0,<0,6.00,critical/other existing credit,radio/tv,1169.00,no known savings,>=7,4.00,male single,none,4.00,real estate,67.00,none,own,2.00,skilled,1.00,yes,yes,good
1,0<=X<200,48.00,existing paid,radio/tv,5951.00,<100,1<=X<4,2.00,female div/dep/mar,none,2.00,real estate,22.00,none,own,1.00,skilled,1.00,none,yes,bad
2,no checking,12.00,critical/other existing credit,education,2096.00,<100,4<=X<7,2.00,male single,none,3.00,real estate,49.00,none,own,1.00,unskilled resident,2.00,none,yes,good
3,<0,42.00,existing paid,furniture/equipment,7882.00,<100,4<=X<7,2.00,male single,guarantor,4.00,life insurance,45.00,none,for free,1.00,skilled,2.00,none,yes,good
4,<0,24.00,delayed previously,new car,4870.00,<100,1<=X<4,3.00,male single,none,4.00,no known property,53.00,none,for free,2.00,skilled,2.00,none,yes,bad

In [5]:
df.dtypes

checking_status           category
duration                   float64
credit_history            category
purpose                   category
credit_amount              float64
savings_status            category
employment                category
installment_commitment     float64
personal_status           category
other_parties             category
residence_since            float64
property_magnitude        category
age                        float64
other_payment_plans       category
housing                   category
existing_credits           float64
job                       category
num_dependents             float64
own_telephone             category
foreign_worker            category
target                    category
dtype: object

In [ ]:
df.groupby(['job']).mean()

In [ ]:
df[['job', 'credit_amount', 'age']].groupby(['job']).agg(
    {'credit_amount': ['min', 'max'], 'age': 'mean'})

In [ ]:
job_count = df[['job', 'target']].groupby(['job', 'target']).agg({'target': 'count'})

job_percent = job_count.groupby(level=0).apply(lambda x:
                                                 100 * x / float(x.sum()))
job_percent

In [ ]:
df.groupby(['job', 'target'])['job'].count().unstack('target').fillna(0).plot(kind='bar', 
                                                                              stacked=True)

In [ ]:
df[['target', 'credit_amount']].groupby(['target']).agg({'credit_amount':'mean'}).plot.box()

In [ ]:
df[['target', 'credit_amount', 'age']].groupby('target').agg(
    min_credit_amount=pd.NamedAgg('credit_amount', 'min'),
    max_credit_amount=pd.NamedAgg('credit_amount', 'max'),
    average_age=pd.NamedAgg('age', 'mean'))

In [ ]:
df[['duration', 'target']].groupby('target').boxplot()